/* Cario google font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Cairo', sans-serif !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Nav */
nav a {
    font-size: 18px !important;
}

nav a:hover {
    color: #6D9900 !important;
}

/* Nav item order */
.nav-item {
    line-height: 2.1 !important;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1.2;
    color: var(--secondery);
    padding: .2rem 1.2rem;

}

.nav-btn {
    text-decoration: none;
    padding: .4rem 1rem;
    position: relative;
    transition: .3s ease-in .4s;
    color: var(--secondery);
}

.hover-color:hover {
    color: var(--font-color) !important;
    background-color: var(--secondery);
}

.nav-btn::before {
    content: '';
    height: 0;
    width: 0;
    border: 2px solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    transition: height .2s linear, width .3s linear .2s;
}

.nav-btn:hover::before {
    height: 100%;
    width: 100%;
    border: 2px solid #6D9900;
    border-right: none;
    border-bottom: none;
}

.nav-btn::after {
    content: '';
    height: 0;
    width: 0;
    border: 2px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    transition: height .2s linear, width .3s linear .2s;
}

.nav-btn:hover::after {
    height: 100%;
    width: 100%;
    border: 2px solid #6D9900;
    border-left: none;
    border-top: none;
}

/* mobile nav */
.mobile-nav a:hover {
    color: #fff !important;
}

/* SingleProductCard */
.line-height {
    line-height: 1.6;
}

/* Home */
.bg-image::before {
    content: '';
    background-image: url('./Assets/Images/bg1.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
    display: block;
    position: absolute;
    top: -43px;
}
.bg-image-bottom::before {
    content: '';
    background-image: url('./Assets/Images/bg3.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
    display: block;
    position: absolute;
    top: -43px;
}

.bg-image::after {
    content: '';
    background-image: url('./Assets/Images/bg2.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
    display: block;
    position: absolute;
    bottom: -100px;
}
.bg-image-bottom::after {
    content: '';
    background-image: url('./Assets/Images/bg4.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
    display: block;
    position: absolute;
    bottom: -100px;
}

.letter-spacing {
    word-spacing: 3px;
    letter-spacing: 1px;
}

.line-height {
    line-height: 1.3;
}

.about-word-specing {
    word-spacing: 3px;
}

.spacer {
    height: 1px;
}

.bg-footer-banner{
    background-image: url('./Assets/Images/bottomBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    .bg-image::before,
    .bg-image::after,
    .bg-image-bottom::before,
    .bg-image-bottom::after
    {
        display: none !important;
    }
}
